<HTML>
    <HEAD>
    <TITLE>Profile</TITLE>
    </HEAD>
    <BODY BGCOLOR="FFFFFF">
    <H1>Welcome <%= fileScope %> to Profile.ejs</H1> 
    <img src=<%= image %> alt="Italian Trulli"  width="100" height="100">    
    </BODY>
    </HTML> 